html{
    margin: 0;
    background: linear-gradient(to top,black,#191919);
}

.sign_out{
    height: 30px;
    width: 80px;
    border: none;
    color: aliceblue;
    background-color: #18c457;
    border-radius: 5px;
    padding: 5px;
}

.nav_bar{
    display:flex;
    padding-top: 10px;
    padding-left: 5px;
    justify-content: space-around;
}

.sign_out:hover{
    background-color: #1CDF63;
    color: white;
}

.sign_out:active{
    background-color: #18c457;
    color: white;
}

.main_container{
    width: 1000px;
    height: 700px;
    background-color: black;
    margin: 40px auto;
    border-radius: 8px;
}

#sub_container_A{
    display: flex;
    flex-wrap: wrap;
    padding:5px;
}
#main_function{
    display:flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    justify-items: center;
    margin: 5px;
}

#welcome{
    font-size: 60px;
    color: #1CDF63;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.break_lines{
    width:450px;
    border-color: #292929;
    margin-left: 30px;
    border-width: 0.1px;
}

#file{
    height: 70px;
    width: 350px;
    background-color: rgb(206, 206, 206);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-style:2px solid;
    border-radius: 10px;
    margin-left: 60px;
    border: none;
}

.wrapper{
    position: relative;
    width:400px;
}

.url_box{
    position:relative;
    height: 50px;
    width: 320px;
    background-color: rgb(206, 206, 206);
    border: 3px solid #18c457;
    border-radius: 10px;
    margin-left: 60px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.url_box:focus{
    outline-color: #1CDF63;
}

.copy{
    left:352px;
    position: absolute;
    height:58px;
    width:58px;
    border:none;
    border-radius: 10px;
    background-color: #18c457;
    color:white;
    font-size: 27px;
}

.copy:hover{
    font-size: 29px;
    font-weight: 600;
    background-color: #1CDF63;
}

.copy:active{
    background-color: #18c457;
}

::-webkit-file-upload-button{
    height: 70px;
    border:none;
    background-color: #18c457;
    color: aliceblue;
}
#file:hover{
    background-color: white;
}
::-webkit-file-upload-button:hover{
    background-color: #1CDF63;
    color: white;
}
::-webkit-file-upload-button:active{
    background-color: #18c457;
    color: white;
}

#submit_btn{
    display: block;
    width: 350px;
    height: 50px;
    margin: 10px 60px;
    font-size: 20px;
    border-radius: 7px;
    border:none;
    background-color: #18c457;
    color: aliceblue;
}

#submit_btn:hover{
    background-color: #1CDF63;
    color: white;
}

#submit_btn:active{
    background-color: #18c457;
    color: aliceblue;
}